.itemView.card{
    background-color: white;
}

div.extraInfo{
    display: none;
}

.itemView.card:hover div.extraInfo{
    display: block;
}


.container{
    width: 80%
}

header {
    background-color: darkturquoise;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px
}

nav{
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 40px;
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px
}

nav a:hover{
    color: black
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    top: 0;
    position: absolute;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

/* next section for search box */
div.autoComplete>input {
    padding: 10px;
    font-size: 17px;
    height: 50px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.searchForm button {
    float: left;
    width: 20%;
    height: 50px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.searchForm button:hover {
    background: #0b7dda;
  }
  
  form.searchForm::after {
    content: "";
    clear: both;
    display: table;
  }

  /* next section for autocomplete code */
  div.dialog{
      width: 100%;
      display: none;
      min-height: 40px;
      max-height: 330px;
      overflow: scroll;
      border-top: 1px solid #f4f4f4;

  }

  div.dialog.open{
      display: block;
  }

  div.dialog div{
      padding: 20px 10px;
      font-size: 13px;
      cursor: pointer;
      transition: all 200ms;
  }

  div.dialog div:hover {
      background: #f2f2f2;
  }