.itemView.card{
    background-color: white;
}

div.extraInfo{
    display: none;
}

.itemView.card:hover div.extraInfo{
    display: block;
}


.container{
    width: 80%
}

header {
    background-color: darkturquoise;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px
}

nav{
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 40px;
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px
}

nav a:hover{
    color: black
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    top: 0;
    position: absolute;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

/* next section for search box */

.searchFormDiv{
    text-align: center;
    margin-top: 70px;
}

.searchIcon{
    display: inline;
    width: 40px;
    height: 40px;
    transition: all 0.25s;
}


.searchInput{
    height:40px;
    width: 600px;
    border: thin solid gray;
    transition: all 0.25s;

}

.searchForm:hover .searchInput{
    border: thin solid darkturquoise;
}

.searchForm:hover .searchIcon{
    color: darkturquoise;
}


.searchSubmit{
    background-color: white;
    border: thin solid gray;
    height:40px;
    width: 60px;
    transition: all 0.25s
}

.searchSubmit:hover{
    background-color: darkturquoise;
}

.dialog{
    margin-left: 26%;
    max-height: 600px;
    border-left: solid gray;
    border-right: solid gray;
    overflow-y:auto;
    align-items: center;
}

.dialogItemView{
    width: 600px;
    cursor: default;
    border-bottom: solid gray;
    text-align: left;
}

.dialogItemView:hover{
    background-color:darkturquoise;
}

.resultNumber{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: default;
}

.resultNumber span{
    color: darkturquoise;
}

.resultSort{
    position: relative;
    display: inline-block;
    color: darkturquoise;
}

/* for itemView */
.itemImg{
    float: left;
    width: 180px;
    height: 180px;
    margin-left: 30%;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.itemView{
    position: relative;
    height: 240px;
    border-radius: 15px;
    border: thin solid white;
    transition: all ease-in-out 250ms;
    cursor: default;
}

.itemView:hover{
    border: thin solid gray;
}

.itemText{
    float: left;
    width: 180px;
    height: 180px;
    margin: 30px
}

.itemName{
    font-size: 150%;
}

/* for itemDetailView */

.itemDetailView{
    height: 380px;
    border-radius: 15px;
    border: thin solid white;
    transition: all ease-in-out 250ms;
    display: block;
    cursor: default;
}

.itemDetailView:hover{
    border: thin solid gray;
}

.itemDetailImg{
    width: 300px;
    height: 300px;
}

.itemDetailText{
    float: left;
    width: 300px;
    height: 300px;
    margin: 40px
}

.itemDetailName{
    font-size: 150%;
}

.purchaseButton{
    background-color: white; /* Green */
    text-align: center;
    display: inline-block;
    border: none;
    height: 40px;
    width: 60x
}

.purchaseButton:hover{
    background-color: rgb(184, 179, 179);
}

.img-zoom{
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 20%;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    cursor: zoom-in;
}
/* 
.img-zoom:hover img {
    transform: scale(2.5);
  } */


  .dropUpButton{
    float:left;
    margin-top: 140px;
    transition: all 0.25s;
}

.dropUpButton:hover{
    color: darkturquoise;
}



.dropDownButton{
    float:left;
    margin-top: 80px;
    transition: all 0.25s;
}

.dropDownButton:hover{
    color: darkturquoise;
}