.itemView.card{
    background-color: white;
}

div.extraInfo{
    display: none;
}

.itemView.card:hover div.extraInfo{
    display: block;
}


.container{
    width: 80%
}

header {
    background-color: darkturquoise;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px
}

nav{
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 40px;
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px
}

nav a:hover{
    color: black
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    top: 0;
    position: absolute;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

/* next section for search box */

.searchFormDiv{
    width: 100%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.searchForm{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.searchIcon{
    display: inline-block;
    width: 60px;
    transition: all 0.25s;
}


.searchInput{
    display: inline-block;
    height:40px;
    width: 60%;
    border: thin solid gray;
    transition: all 0.25s;

}

.searchForm:hover .searchInput{
    border: thin solid darkturquoise;
}

.searchForm:hover .searchIcon{
    color: darkturquoise;
}


.searchSubmit{
    display: inline-block;
    background-color: white;
    border: thin solid gray;
    height:40px;
    width: 60px;
    transition: all 0.25s
}

.searchSubmit:hover{
    background-color: darkturquoise;
}

.dialog{
    max-height: 600px;
    width: 100%;
    overflow-y:auto;
}

.dialogItemView{
    width: 60%;
    cursor: default;
    border: solid gray;
    text-align: left;
    margin: 0 auto;
}

.dialogItemView:hover{
    background-color:darkturquoise;
}

.resultNumber{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: default;
}

.resultNumber span{
    color: darkturquoise;
}

.resultStatistics{
    text-align: center;
}

.resultSort{
    position: relative;
    display: inline-block;
    color: darkturquoise;
}
.itemImg{
    width: height;
    height: 75%;
}

.itemView{
    display: flex;
    height: 240px;
    border-radius: 15px;
    border: thin solid white;
    transition: all ease-in-out 250ms;
    cursor: default;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.itemView:hover{
    border: thin solid gray;
}

.itemText{
    min-width: 20%;
    max-width: 25%;
    height: 75%;
}

.itemName{
    font-size: 150%;
}

.dropDownButton{
    transition: all 0.25s;
}

.dropDownButton:hover{
    color: darkturquoise;
}

/* for itemDetailView */

.itemDetailView{
    display: flex;
    height: 350px;
    border-radius: 15px;
    border: thin solid white;
    transition: all ease-in-out 250ms;
    cursor: default;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.itemDetailView:hover{
    border: thin solid gray;
}

.itemDetailImg{
    height: 75%;
    margin: 10px
}

.itemDetailText{
    height: 75%;
    min-width: 20%;
    max-width: 25%;
}

.itemDetailName{
    font-size: 150%;
}

.purchaseButton{
    background-color: white; /* Green */
    text-align: center;
    display: inline-block;
    border: none;
    height: 40px;
    width: 60x
}

.purchaseButton:hover{
    background-color: rgb(184, 179, 179);
}

.img-zoom{
    width: height;
    height: 75%;
    margin: 5px;
    overflow: hidden;
    cursor: zoom-in;
}

.dropUpButton{
    transition: all 0.25s;
}

.dropUpButton:hover{
    color: darkturquoise;
}
/* 
.img-zoom:hover img {
    transform: scale(2.5);
  } */


