<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>itemHub</title>
    <link rel="icon" href="/static/Item_hub_icon.PNG" type="image/PNG">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/static/node_modules/bulma/css/bulma.css" />
    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
    <script src="/static/node_modules/axios/dist/axios.js"></script>
    <script src="https://kit.fontawesome.com/3b0ed6553a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> <!-- 一定要记得带这个！ -->
    <script src='/static/script.js'></script>
    <script src='/static/contact.js'></script>
    {% csrf_token %}
</head>

<body>
    <header>
        <div class='container'>
            <img src="/static/Item_hub_icon.PNG" alt='logo' class='logo'>
            <nav>
                <ul>
                    <li><a id='homeButton' href='../index'>Home</a></li>
                    <li><a id='itemsButton' href='../item'>Items</a></li>
                    <li><a id='searchButton' href='../search'>search</a></li>
                    <li><a id='managementButton' href='../shoppingCart'>Shopping Cart</a></li>
                    <li><a id='userButton' href='../userinfo'>User</a></li>
                    <li><a id='aboutButton' href='../about'>About</a></li>
                    <li><a id='covidButton' href='../covid19'>Covid-19</a></li>
                    <li><a id="postButton" href="../publishitem">Sell your item!</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class='introduction'>
        <p class = 'introTitle'><strong>ItemHub</strong></p>
        <div class='authors'>
            <p><strong>Han Gao: <em>Front End</em></strong></p>
            <p><strong>YuFan Liu: <em>Front End</em></strong></p>
            <p><strong>Yunzhou Liu: <em>Back End</em></strong></p>
            <p><strong>Yuanzheng Zhao: </strong></p>
        </div>
        <br>
    </div>
    <div id='contact'></div>
</body>

</html>