.itemView.card{
    background-color: white;
}

div.extraInfo{
    display: none;
}

.itemView.card:hover div.extraInfo{
    display: block;
}


.container{
    width: 80%
}

header {
    background-color: darkturquoise;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px
}

nav{
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 40px;
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px
}

nav a:hover{
    color: black
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    top: 0;
    position: absolute;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


/* for user UI */
.loginView{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
    height: 400px;
    text-align: center;
    border: solid gray;
}

.loginTitle{
    margin: 30px;
    font-size: 200%;
    cursor: default;
}

.loginTitle span{
    color: darkturquoise;
}

.loginSubtitle{
    font-size: 150%;
    transition: all 0.25s;
    cursor: default
}

.loginForm{
    margin: 20px;
}

.usernameInput{
    margin: 10px;
}

.passwordInput{
    margin: 10px;
}

.loginButton{
    background-color: white;
    border: thin solid gray;
    transition: all 0.25s
}

.loginButton:hover {
    background-color: darkturquoise;
}

.registerButton{
    background-color: white;
    border: thin solid gray;
    transition: all 0.25s

}

.registerButton:hover{
    background-color: darkturquoise;
}

